* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #544575 0%, #e281c7 100%);
    overflow: hidden;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
}

.book-filter {
    background: linear-gradient(135deg, #fbfafa00 0%, #0b09094d 100%);
    text-align: center;
    margin: 20px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    width: 80%;
    margin: auto;

}

.book-filter button {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    font-size: xx-large;
    filter: hue-rotate(43deg);
}

button:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.book-filter button:hover {
    background-color:transparent;
    filter: hue-rotate(80deg);
    cursor: pointer;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.actions {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}

.book-update .btn {
    margin: 10px auto;
    border-radius: 10px;
    background-color: lightgreen;
    padding: 5px;
    width: 50%;
}

.actions .arrow {
    padding: 0%;
    font-size: xx-large;
    background-color: transparent;
    filter: hue-rotate(43deg);
}

.actions button:hover {
    filter: hue-rotate(80deg);
    color: white;
    cursor: pointer;
}

.books-list {
    background-color: #fff;
    border-collapse: collapse;
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

.books-list th,
.books-list td {
    padding: 5px;
}

.books-list th:hover {
    cursor: pointer;
}

.books-list tr:nth-child(even) {
    background-color: rgb(217, 228, 238);
    filter: hue-rotate(325deg);
}

thead {
    background-color: #3a3a3a;
    color: white;
}

.book-item button {
    border-radius: 10px;
}

.update-btn {
    background-color: rgb(243, 243, 15);
}

.delete-btn {
    background-color: rgb(243, 15, 15);
}

.read-btn {
    background-color: lightblue
}

.books-list text {
    color: red;
}

.actions button {
    border: none;
    padding: 10px;
    border-radius: 5px;
}


.actions .book-add-btn {
    background-color: lightgreen;
    border:#000000 solid 2px;
}
.actions .book-add-btn:hover {
    filter: hue-rotate(40deg);
    color: white;
    cursor: pointer;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    opacity: 0;
    z-index: -100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    transition: 1s;
    align-items: center;
    justify-content: center;
}

.modal.open {
    z-index: 100;
    opacity: 1;
}

.modal>* {
    background: linear-gradient(135deg, #a18cd1 0%, #fbc2eb 100%);
    color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 300px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 20px;
    border-radius: 50%;
    font-weight: bold;
    border: 0.5px solid #888;
}

.close-btn:hover {
    color: red;
    cursor: pointer;
}

.modal input {
    width: 80%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.msg-modal {
    font-size: xx-small;
}

.book-price-update {
    width: 30%;
    margin: auto;
}

.book-stat {
    display: flex;
    justify-content: space-around;
   color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
}

.book-filter fieldset {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.book-filter .filter-by,
.book-filter .sort-by {
    display: grid;
}

.book-filter label {
    margin: 5px 0;
}

.book-filter input,
.book-filter select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}